/*********************************header**************************************/
header{
    text-align: center;
    margin: 0 auto;
}
header img{
    width: 130px;
    margin: 0 auto;
    padding-bottom: 0px;
}
h5{
    border-top: 1px solid yellow;
    margin-top: 0 auto;
    padding-top: 10px;
    color: rgb(30, 73, 30) ;
}
header h5 span {
    font-weight: bold;
}
/********************************** main************************************/
main{
    text-align: center;
    margin:0 auto;
    width: 700px;
}
main p{
    text-align: justify;
}
 /***************************immagine del main******************************/
#focacciaimg{
    text-align: center;
    width: 700px
}
#focaccia{
    width: 100%;
    border-radius: 15%;
}
figcaption p{
    text-align: center;
    color: rgba(128, 128, 128, 0.947);
    margin-top: 0px;
}
/*******************paragrafi restanti del main e liste*********************/
#paragrafospe{
    color: orange;
    margin-top: 40px;
}
.titoli{
    font-size: larger;
    text-align: justify;
    border-bottom: 1px solid rgb(67, 194, 203);
    margin-top: 40px;
}
.titoli_lista{
    font-weight: bold;
    font-size: smaller;
}
article ul{
    text-align: justify;
    margin-bottom: 10px;
}
/****************** modifice layout dl*************************************/
dl dt{
    text-align: justify;
    text-indent: 30px;
}
#layout {
    font-weight: bold;
    font-size: small;
}
#layout span {
    font-size: x-small;
}
/********************************foooter*******************************/
#footer{
    text-align: center;
    width: 700px;
    margin: 0 auto;
}
footer p{
    text-align: justify;
    margin-top: 40px;
}



